body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

#map {
    height: 100vh;
    width: 96.5vw;
}

.legend {
	line-height: 13px;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 3;
}

svg .legendSvg1 { 
    fill: #66ffc2;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg2 { 
    fill: #66d9ff;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg3 { 
    fill: #ffb366;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg4 { 
    fill: #ff3385;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg5 { 
    fill: #b3ff66;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg6 { 
    fill: #ffbf00;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg7 { 
    fill: #6666ff;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg8 { 
    fill: #cc99ff;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg9 { 
    fill: #339966;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg10 { 
    fill: #ff0000;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}

svg .legendSvg11 { 
    fill: #999999;
    stroke: black; 
    stroke-width: 1;
    opacity: 0.75;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}